body {
  font-family: Arial, sans-serif;
  background-color: #ccc;

  padding: 20px;
  display: flex;
  justify-content: center;
}

.problem-container,
.card {
  display: inline-block;
  vertical-align: top;

}

.problem-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.problem-container h2 {
  color: #333;
}

.problem-container p {
  margin: 5px 0;
}

.problem-container a {
  color: #007bff;
  text-decoration: none;
}

.problem-container a:hover {
  text-decoration: underline;
}

.problem-container label {
  margin-right: 5px;
}

.problem-container input[type="text"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
}



.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  padding-bottom: 30px;
  text-align: center;
  max-height: 250px;
}

.card h2 {
  color: #333;
}

.card p {
  margin: 5px 0;
}

.hidden-section {
  display: none;
}


.solved-btn {
  padding: 14px 20px;
  background-color: #ffea00;
  color:'black';
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}


.solved {
  padding: 8px 20px;
  background-color: #076907;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.show-btn {
  padding: 8px 10px;
  background-color: #717070;
  color: #f8f8f8;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

  .view-solved-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.view-solved-btn:hover {
  background-color: #0056b3;
}
.problem-container button:hover {
  background-color: #c93232;
}

.card button:hover {
  background-color: #c93232;
}

.all-solved-container {
  text-align: center;
  margin-top: 50px;
}

.all-solved-container h2 {
  color: #333;
}

.all-solved-container p {
  color: #666;
}

.generate-btn {
  padding: 14px 30px;
  border: thin solid;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  display: block;
}
