<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Topic Wise</title>
  <link rel="stylesheet" href="topics.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

</head>

<body>
  <div class="container">

    <button class="btn" onclick="redirect()">Back To Solving</button>
    <table id="patternsTable">
      <tr>
        <th>Pattern Name</th>
        <th>No of Solved</th>
        <th>Total</th>
      </tr>
    </table>
  </div>

</body>
<script src="./topics.js"> </script>

</html>