#patternsTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
#patternsTable th, #patternsTable td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}
#patternsTable th {
  background-color: #f4f4f4;
}
#patternsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn {
  background-color: black;
  margin-top: 10px;
  margin-bottom:20px;
}
button {
  background-color: #ff0000;

  color: #fff;

  border: none;

  padding: 8px 16px;

  border-radius: 4px;

  cursor: pointer;

}

button:hover {
  background-color: #0056b3;

}